.crypto-icon {
    width: 30px;
    height: 30px;
    margin-right: 5px;
}

.loadMoreButtonBox {
    width: 100vw;
    display: flex;
    justify-content: center;
}

.hasGrown {
    animation: 500ms ease green-flash !important;
}

.hasFallen {
    animation: 500ms ease red-flash !important;
}


@keyframes green-flash {
    50% {
        background: rgb(199, 245, 199);
    }

    100% {
    }
}

@keyframes red-flash {
    50% {
        background: rgb(235, 183, 183);
    }

    100% {
    }
}