iframe {
    display: none;
}

.table-container {
    width: 1382px;
    margin: 0 auto;
}

.crypto-icon {
    width: 30px;
    height: 30px;
    margin-right: 5px;
}

.crypto-symbol {
    color: rgb(128, 138, 157);
}

.arrow-icon {
    width: 14px;
    height: 14px;
}

.green {
    color: #4bca81 !important;
}

.red {
    color: #ed4a6d !important;
}

.loadMoreButtonBox {
    width: 100vw;
    display: flex;
    justify-content: center;
}

.row {
    display: contents;
    transition: background 200ms ease;
    background: white;
}