iframe {
    display: none;
}

.crypto-icon {
    width: 30px;
    height: 30px;
    margin-right: 5px;
}

.crypto-symbol {
    color: rgba(0, 0, 0, 0.9);
    opacity: 0.7;
}

.loadMoreButtonBox {
    width: 100vw;
    display: flex;
    justify-content: center;
}

.row {
    display: contents;
    transition: background 200ms ease;
    background: white;
}

.green-flash {
    background: rgb(199, 245, 199);
}

.red-flash {
    background: rgb(235, 183, 183);
}