.title {
    font-size: 64px;
    text-align: center;
    color: rgba(255, 255, 255, .88);
    text-shadow: 0 0 80px rgba(192,219,255,.48), 0 0 32px rgba(65,120,255,.24);
    margin-bottom: 40px;
}

body {
    background: #0C0A1D;
    font-family: Roboto,-apple-system, BlinkMacSystemFont, Segoe UI, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}